.botones{
    display: flex;
    justify-content: space-between;
    padding-right: 8%;
    padding-left: 20%;
}
.boton{
    margin-right: 10px;
}
.head{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 17%;
}
.card{
    background-color: rgba(211, 35, 35, 0.3);
    margin: 2cm;
}
.tabla {
    border-collapse: collapse;
    border-color: rgba(200, 93, 93, 0.3);
  }
.tabla td,
.tabla th {
    border: none;
}
.tabla tbody tr:first-child td {
    border-top: none;
  }