.Container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Fondo-login{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100vh;
    background-image: url(../img/Fondo-Login.png);
    background-size: cover;
}

.Formulario{  
    width: 50%;
    height: 100vh;
    background:#100b0bf7;
}

.container2{
    margin-top: 20%;
    margin-left: 10%;
    align-items: center;
    max-width: 600px;
    padding: 20px;
}
.h2P {
    color: #ffffff;
    margin-bottom: 20px;
}
input[type="text"], input[type="password"] {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.ini {
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 10px;
    background-color: #D12323;
    color: #fff;
    padding: 5px 60px;
    border: none;
    cursor: pointer;
}
.ini :hover {
    background-color: #f47575;
}

p{
    margin-top: 5%;
}

a { 
    margin-top: 5%;
    margin-left:32%;
    text-decoration: none;
    color: #ffffff;
}

