.panel-grafica {
  width: 75%; 
  position: relative;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.747);
  color: #ffff;
  border-radius: 15px;
}


@media (max-width: 768px) {
  .panel-grafica {
    width: 100%; 
    height: auto; 
  }
}
