body{

    background-color: #CECECE;
  
  
    
  }
  
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
     
  
  
      
    }
    
  
    #sidebar {
      background: #100b0be4;
      color: #fff;
      height: 100%;
      transition: all 0.5s;
      min-width: 50px; 
      margin-left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    #main-content {
      background: #f0f0f0; 
      padding: 15px;
    }
    
    .top_section {
      display: flex;
      align-items: center;
      padding: 15px;
    }
    
    .logo {
      font-size: 30px;
    }
    
    .bars {
      display: flex;
      font-size: 25px;
      margin-left: 5px;
    }
    
    .link {
      margin-left: 5px;
      text-decoration: none;
      display: flex;
      color: #fff;
      padding: 20px;
      gap: 15px;
      transition: all 0.5s;
    }
    
    .link:hover {
      background: #D12323;
      color: #000;
      transition: all 0.5s;
    }
    
    .active {
      background: #f86a6a;
      color: #000;
    }
    
    .icon,
    .link_text {
      font-size: 20px;
    }
    